<template>
    <div class="profile">
        <b-tabs vertical 
        active-nav-item-class="myActive"
        active-tab-class="">
    <b-tab active >
      <template v-slot:title>
            account
      </template>
      <div class="profile-tab">
            <div class="img">
              <img v-if="hasProfileImage" :src="'http://127.0.0.1:3000/myapi/profileimage?user='+userInfo.username">
              <img v-else src="../../../../../assets/images/listener.svg">
            </div>
            <div class="info">
                 <div><span class="fix-text"> Username : </span>{{userInfo.username}}</div>
                <div><span class="fix-text"> Firstname : </span>{{userInfo.firstname}}</div>
                <div><span class="fix-text"> Lastname : </span> {{userInfo.lastname}}</div>
                <div><span class="fix-text"> Nationality : </span> {{userInfo.nationality}}</div>
                <div><span class="fix-text"> Birth Date  : </span>{{getBDate}}</div>
                <div v-if="favGenre !== null"><span class="fix-text"> Favorite Genre  : </span>{{favGenre}}</div>
                <div v-if="favArtist !== null"><span class="fix-text"> Favorite Artist : </span>{{favArtist.artistic_name}}</div>
            </div>
      </div>
    </b-tab>
    <b-tab>
      <template v-slot:title>
          friends
      </template>
      <div class="friends-tab">
            <div class="following">
                <div class="header">
                    Followings
                </div>
                <div class="body">
                     <user v-for="(user , key) in followings" :key="key" :user="user"></user>
                     
                </div>
            </div>
            <div class="followers">
                <div class="header">
                    Followers
                </div>
                <div class="body">
                   <user v-for="(user , key) in followers" :key="key" :user="user"></user>
                </div>
            </div>
      </div>
    </b-tab>

  </b-tabs>
    </div>
</template>

<script src="./profile.js">
</script>