.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    background-size: auto 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $dark_grey;
  }
  a {
    color: #f9af5a;
    text-decoration: none;
  }
  .custom-404 {
    display: flex;
  }
  .not-found-bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 50%;
    margin: auto;
    height: 100vh;
  }
  .not-found-bg img {
    width: 80%;
  }
  .not-found-bg h3 {
    position: absolute;
    color: $green_blue;
    margin: 0;
    right: 50%;
    font-size: 24px;
    -webkit-transform: translate(26%, 0);
    transform: translate(26%, 0);
  }
  .submit button {
    cursor: pointer;
    width: 100%;
    text-align: center;
    color: #fff;
    height: 54px;
    display: inline-block;
    line-height: 46px;
    border-radius: 8px;
    background-color: $green_blue;
    border: none;
  
  }
  .submit {
    position: absolute;
    margin: 104px auto;
    width: 160px;
    right: 50%;
  }