.regular-signup , .artist-signuo{
  color: $lighten-grey;
  margin-bottom: 50px;
  &-form{
    @include flex($direction:column);
    text-align: left;
    margin-top: 20px;
    .title{
      font-size: 30px;
      margin-bottom: 10px;
    }
    .account{
      .content{
        @include flex;
        direction: ltr;
        .field{
          width: 70%;
          .form-group{
            @include flex
          }

        }
      }
      .pick-picture{
          width: 100%;
          @include flex($justify:center , $align : center);
          .content{
            @include flex($direction:column , $align:center);
            .pic{
                @include flex($direction:column , $justify:flex-end,$align:flex-end);
                width: 150px;
                height: 150px;
                border: none;
                border-radius: 50%;
                font-size: 30px;
                border: 1px solid $light-grey;
                background-color: $dark-grey;
                #pic-icon{
                  background-color:  $dark-grey;
                  border-radius: 50%;
                  margin-right: 10px;;
                }
            }
            .title{
               margin-top: 10px;
                font-size: 20px;
            }
          }
      }
    }
    .personal{
      direction: ltr;
      margin-bottom: 20px;
      .content{
        width: 50%;
        margin-bottom: 10px;
        .country-select{
          width: 100%;
          background-color: $dark-grey;
          height: 40px;
          border-radius: 3px;
          color: $lighten-grey;
          max-height: 200px !important;
        }

      }
      .personal-qu{
        margin-top: 20px;
        .qu-title{
            margin-bottom: 10px;
          font-size: 20px;
        }
      }
      .artistic-field{
        width: 70%;
      }
    }
    .submitBtn{
      text-align: center;
      .submitBtn-btn{
        background-color: $green-blue;
        font-weight: bold;
        &:hover{
          transform: scale(1.1);
          background-color: inherit;
          border: 1px solid $green-blue;
          color: $green-blue;
        }
      }
      .premium{
        font-weight: bold;
        width: 15%;
        color: white;
        &:hover{
          background-color: $dark-grey;
          color: $premium-yellow;
          border: 1px solid $premium-yellow;
        }
      }
    }
    .bdate{
      margin-top: 15px;
      width: 100%;
      input{
        background-color: $dark-grey;
        color: $lighten-grey  ;
        border: 1px solid $lighten-grey;
      }
      .birthday-picker_carriage::after{
        border-top-color: grey;
      }
      .birthday-picker_dropdown-header{
        background-color: $green-blue;
      }
      .bdp-active{
        background-color: $green-blue;
        color: white;
      }

    }
  }
  .main-title{
    text-align: left;
    font-size: 40px;
    margin-top: 50px;
    border-bottom: 2px solid $green-blue;
    @include flex($direction:row-reverse,$justify:space-between);
    .backBtn{
      height: fit-content;
      margin-top: 10px;
    }
  }
  .premium-title{
      color: $premium-yellow;
      border-bottom: 1px solid $premium-yellow;
  }


}