.login{
  width: 100%;
  height: 100vh;
  .login-content{
    height: 100%;
    color: $lighten-grey;
    @include flex($direction:column);
    .login-header{
        background-color: $dark-grey;
        text-align: center;
        padding-top: 5px;
        font: { 
          weight: bold;
          size: 20px;
        }
    }
    .content{
      height: 100%;
      @include flex($direction:column , $justify:center , $align:center);
      position: relative;
      .login-form{
        padding:20px;
        @include flex($direction:column);
        width: 25%;
        @include breakpoint(medium){
          width: 80%;
        }
        background-color: $dark-grey;
        border-radius: 10px;
        @include box-shadow(rgba(148,247,213,0.52));
        .icon{
          color: $green-blue;
          text-shadow: 2px 2px 8px $green-blue , 0 0 5px $green-blue;
          text-align: center;
          display: inline-block;
          font-size: 60px;
          margin-top: 10px;
        }
        .name{
          display: inline-block;
          text-align: center;
          font-size: 30px;
          font-weight: bold;;
          margin-top: 20px;
          margin-left: 5px;
        }
        .form{
          margin-top: 20px;
          direction: ltr;
          text-align: center;
          .login-input{
            background-color: $dark-grey;
            color: white;
            border-color: $lighten-grey;
          }
        
          .signup{
            margin-top: 10px;;
          }
          .signup , .forget-pass{
              text-align: left;
            .link{
              color: $green-blue;
              &:hover{
                cursor: pointer;
                text-underline: $green-blue;
              }
            }
          }
  
        }

      }
    }  
  }
  .login-btn , .answer-btn{
    background: none;
    background-color: $green-blue;
    color: white;
    border: none;
    border-radius: 10px;
    width: 40%;
    padding-top: 5px;
    height: 35px;
    font-size: 20px;
    &:hover{
      background: inherit;
      border: 1px solid $lighten-grey;
      transform: scale(1.01);
    }
  }
  .question-modal{
    overflow-y: auto;
    width: 62%;
    height: 92%;
    @include breakpoint(large){
      width: 92%;
    }
    .content-modal{
      
      
      .answer-btn{
        width: 15%;
      }
      label{
        color: $lighten-grey;
      }
    }
  }
  .change-pass-modal{
    overflow-y: auto;
      width: 50%;
      height: auto;
      @include breakpoint(large){
        width: 92%;
      }
      .new-pass-btn{
          width: auto;
      }

  }
 
  .left{
    text-align: left;
  }
 
  .fold-enter-active {
    animation: unfoldIn 0.7s;
  }
  .fold-leave-active {
    animation: unfoldIn 0.7s reverse;
  }
  
  .zoom-enter-active {
    animation: zoomIn 0.7s ;
  }
  .zoom-leave-active {
    animation: zoomIn 0.7s reverse;
  }
  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }
  .slide-leave-active,
.slide-enter-active {
  transition: 1s;
}
.slide-enter {
  transform: translate(100%, 0);
}
.slide-leave-to {
  transform: translate(-100%, 0);
}
}
