.main-signup{
  width: 100%;
  height: 100vh;
  color: white;
  .signup-content{
       height: 100vh;

       @include flex($direction:row-reverse ,$justify:space-around , $align: center);
       .signup-content-item{
         text-align: center;
         width: 30%;
         cursor: pointer;
         padding: 5% 10px ;
         border-radius: 10px;
         .title{
           font-size: 45px;
           @include breakpoint(1200px){
             font-size: 30px;
           }
         }

         @include flex($direction: column);
         &.defualt{
              background-color: $green-blue;
             &:hover{
               background-color: inherit;
               border: 2px solid $green-blue;
               transform: scale(1.05);
               @include box-shadow($green-blue)
            }

         }
         &.premium{
              background-color: $premium-yellow;
             &:hover{
               background-color: inherit;
               border: 2px solid $premium-yellow;
               transform: scale(1.05);
              @include box-shadow($premium-yellow);
             }
         }
       }
  }

}