<template>
    <div class="listener_dashboard">
        <b-tabs vertical 
              active-nav-item-class="myActive"
              active-tab-class="">
          <b-tab active >
            <template v-slot:title>
                  <span class="icon icon-playlist"></span>
            </template>
            <div class="playlists">
              <div class="add" v-b-modal.choose-playlist-name>
                  <span class="icon icon-plus"></span>
              </div>
                <div v-for="(item, index) in getPlaylists" :key="index" class="playlist">
                  <div class="header">
                      <div class="title">
                        <span class="fix-text">title:</span> {{item.playlist_title}}
                      </div>
                      <div class="operations">
                            <div class="share">
                                <span class="icon icon-share" @click="share(item.playlist_title)"></span>
                            </div>
                            <div class="edit" v-if="!isPlaylistLiked(item.playlist_id)">
                               <span class="icon icon-edit" @click="editPlaylist(item)"></span>
                           </div>
                            <div class="delete" >
                                 <span class="icon icon-delete" @click="deletePlaylist(item)"></span>
                            </div>  
                      </div>
                  </div>
                  <div class="content">
                        <!-- <track></track> -->
                        <div v-if="item.tracks.length > 0">
                          <myTrack  v-for="(track, key) in item.tracks" :key="key" 
                          :track="track" 
                          @playClick="playEvent($event)" 
                          :isInPlaylist="true"
                          :playlist_title="item.playlist_title"
                          @report="report($event)"></myTrack>
                        </div>
                        <div v-else class="noTracks">this playlist has no track!</div>
                  </div>
                </div>
            </div>
          </b-tab>
          <b-tab>
            <template v-slot:title>
              <span class="icon icon-fire"></span>
            </template>
            <div class="playlists">
                <div v-for="(item, index) in trends" :key="index" class="playlist">
                    <div class="header">{{item.title}}</div>
                    <div class="content">
                      <div v-if="item.type == 'track'" >
                          <myTrack  
                          v-for="(track, key) in item.data" :key="key" 
                          :track="track" @playClick="playEvent($event)"
                           @addtoPlaylist="addtoPlaylist($event)"
                           @report="report($event)"></myTrack>
                      </div>  
                      <div v-else-if="item.type == 'user'">
                          <user v-for="(user , key) in item.data" :key="key" 
                          :user="user"></user>
                          
                      </div> 
                      <div v-else-if="item.type == 'album'">
                          <album v-for="(album , key) in item.data" :key="key"
                           :album="album"></album>
                         
                      </div>
                    </div>
                </div>
                
            </div>
          </b-tab>
          <b-tab>
            <template v-slot:title>
              <span class="icon icon-search"></span>
            </template>
            <div class="search">
                <div class="content">
                    <div class="search-input">
                      <div class="inputs">
                            <div class="input-group-prepend">
                              <span class="input-group-text logo" id="basic-addon1">
                                <span class="icon icon-search"></span>
                              </span>
                            </div>
                            <input type="text" 
                            v-debounce:1000="onSearch" 
                            class="form-control" 
                            placeholder="search..." 
                            aria-label="Username" 
                            aria-describedby="basic-addon1"
                            v-model="searchText"
                            >
                      </div>
                    </div>
                    <div class="search-items">
                      <div v-for="(item , index) in searchResult" :key="index" class="search-item">
                          <div class="header position-sticky">{{index}}</div>
                          <div class="serach-item-content">
                              <div v-if="index =='tracks'">
                                   <myTrack  
                                   v-for="(track, key) in item" :key="key" 
                                   :track="track" @playClick="playEvent($event)"
                                    @addtoPlaylist="addtoPlaylist($event)" 
                                    @report="report($event)"></myTrack>
                              </div>
                              <div v-else-if="index == 'users'">
                                  <user v-for="(user , key) in item" :key="key" :user="user"></user>
                              </div>
                              <div v-else-if="index == 'albums'">
                                  <album v-for="(album , key) in item" :key="key" :album="album"></album>
                                  
                              </div>
                              <div v-else-if="index == 'playlists'">
                                  <myPlaylist v-for="(playlist , key) in item" :key="key" :playlist="playlist"></myPlaylist>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
               
            </div>
          </b-tab>
          <template v-slot:tabs-end>
          <b-nav-item  @click="logout()">
            <span class="icon icon-logout"></span>
          </b-nav-item>
        </template>
        </b-tabs>

       
      <b-modal
          id="choose-playlist-name"
          ref="modal"
          title="enter playlist Name"
          @show="resetModal"
          @hidden="resetModal"
          @ok="handleAddNewPlaylistOK"
        >
      <form ref="form" @submit.stop.prevent="handleAddPlaylistSubmit">
        <b-form-group
          :state="nameState"
          label="Name"
          label-for="name-input"
          invalid-feedback="Name is required"
        >
          <b-form-input
            id="name-input"
            v-model="newPlaylistName"
            :state="nameState"
            required
          ></b-form-input>
        </b-form-group>
      </form>
    </b-modal>

        
      <b-modal
          id="choose-edit-name"
          ref="modal"
          title="enter new playlist Name"
          @show="resetModal"
          @hidden="resetModal"
          @ok="handleEditPlaylistOK"
        >
      <form ref="form2" @submit.stop.prevent="handleEditPlaylistSubmit">
        <b-form-group
          :state="nameState2"
          label="Name"
          label-for="name-input"
          invalid-feedback="Name is required"
        >
          <b-form-input
            id="name-input"
            v-model="editedPlaylistName"
            :state="nameState2"
            required
          ></b-form-input>
        </b-form-group>
      </form>
    </b-modal>

    <b-modal
          id="report-modal"
          ref="modal"
          title="enter your message for reporting this track"
          @show="resetModal"
          @hidden="resetModal"
          @ok="handleReportOk"
        >
      <form ref="form3" @submit.stop.prevent="handleReportSubmit">
        <b-form-group
          :state="nameState3"
          label="message"
          label-for="message"
          invalid-feedback="messsage is required"
        >
          <b-form-textarea
            id="message"
            v-model="reportMessage"
            :state="nameState3"
            required
          ></b-form-textarea>
        </b-form-group>
      </form>
    </b-modal>
  
   
       <ValidationObserver>
            <b-modal
              id="choose-playlist-modal"
              ref="modal"
              title="choose playlist Name"
              @ok="handleAddToPlaylistOK"
            >
             <ValidationProvider name="exprDare1" rules="required" v-slot="{ errors }" maxlength="2">
                            <select class="form-control form-control-sm" v-model="selectedPlaylist">
                            <option v-for="(item, index) in options" :key="index">{{item}}</option>
                          </select>                            
                          <span class="err">{{ errors[0] }}</span>
            </ValidationProvider>
        </b-modal>
       </ValidationObserver>

        
            <b-modal
              id="share-playlist-modal"
              ref="modal"
              title="Share With Who?"
              @ok="handleOkSharePlaylist"
            >
              <b-form-select v-model="shareWithID" :options="friends"></b-form-select>
                        
        </b-modal>
   

    </div>
</template>

<script src='./dashboard.js'>

</script>