<template style="direction: rtl">
  <div class="container custom-404">
    <div class="not-found-bg">
      <img src="../../../../.../../assets/images/404_error.png" />
      <h3>Page not found</h3>
      <div class="submit">
        <button class="submit-btn" @click="handleBack">back</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Page404",
  computed: {
    message() {
      return "The webmaster said that you can not enter this page...";
    }
  },
  methods: {
    handleBack(){
      this.$router.go(-1)
    }
  },
};
</script>

<style scoped>

</style>
