<template>
    <div class="album-card">
        <div class="main">
            <div class="logo">
             <span class="icon icon-album"></span>
            </div>
            <div class="main-content">
                <span><span class="fix-text">title: </span>{{album.album_title}}</span>
            </div>
        </div>
        <div class="description">
            <div class="description-content">
               <span class="description-item"><span class="fix-text">artist: </span>{{album.artistic_name ?album.artistic_name :album.artist_name }}</span>
            </div>  
            <div class="description-operation">
                <span class="icon icon-eye"></span>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props:{
        album: Object
    },
    methods: {
    
    },
}
</script>