<template>
  <div>
    <a href="#"><img :src="src" :alt="alt"/></a>
    <slot></slot>
  </div>
</template>

<script>
  export default {
    name: 'base-icon',
    data() {
      return {
        src: require(`../../../../assets/images/${this.name}`)
      }
    },
    mounted() {
    },
    props: {
      name: String,
      alt: String
    }
  }
</script>

<style scoped lang="scss"></style>
