<template>
    <ValidationProvider :rules="rules" :name="name" v-slot="{ valid, errors }">
    <b-form-group>
        <b-form-input
                :id="id"
                :type="type"
                v-model="test"
                :state="errors[0] ? false : (valid ? true : null)"
                :placeholder="placeholder"
                :data="test"
                @input="$emit('changeinput' , $event.target.value)"
        ></b-form-input>
        <b-form-invalid-feedback id="inputLiveFeedback">{{ errors[0] }}</b-form-invalid-feedback>
    </b-form-group>
    </ValidationProvider>
</template>

<script>
    import {  ValidationProvider } from "vee-validate";
    import { extend } from 'vee-validate';
    import { required, email, integer , confirmed} from 'vee-validate/dist/rules';

    extend('required', {
        ...required,
        message: 'This field is required!'
    });

    extend("integer" , {
        ...integer,
        message: 'This field must be integer!'
    })
    extend('email', {
        ...email,
        message : 'This feild must be email!'
    });
    extend("confirmed" , {
        ...confirmed,
        message : "This field must match with password field!"
    })

    extend('okPassword', {
        validate(value) {
            var re = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z])/;
            return re.test(value);
        },
        message: "Password must contain Uppercase and Lowercase letter and digit!"
    });

    extend('min', {
        validate(value) {
            return value.length > 8
        },
        message: "too Short! must be at least 8 character"
    });

    export default {
        name: "form-item",
        data(){
            return{
                test:'',
            }
        },
        props: {
            rules: String,
            name : String,
            id : String,
            type: String,
            placeholder: String,
            data:String
        },
    }
</script>

<style scoped>

</style>