<template>
    <div class="track">
        <div class="main">
            <div class="logo">
             <span class="icon icon-music"></span>
            </div>
            <div class="main-content">
                <div class="info">
                    <span><span class="fix-text">title: </span>{{track.track_title}}</span>
                    <span><span class="fix-text">artist: </span>{{track.artist || track.artist_name || track.artistic_name}}</span>
                </div>
                 <b-dropdown size="lg"  variant="link" toggle-class="text-decoration-none" no-caret>
                    <template v-slot:button-content>
                        <span class="icon icon-more" ></span>
                    </template>
                    <b-dropdown-item @click="handleTrack()"><span>{{isInPlaylist ? "Remove" : "ADD"}}</span></b-dropdown-item>
                    <b-dropdown-item @click="report()">Report</b-dropdown-item>
                    </b-dropdown>
            </div>
        </div>
        <div class="description">
            <div class="description-content">
               <span class="description-item"><span class="fix-text">duration: </span>{{toHHMMSS(track.track_duration)}}</span>
               <span class="description-item"><span class="fix-text">genre: </span>{{track.genre}}</span>
               <span class="description-item"><span class="fix-text">album: </span>{{track.album_title}}</span> 
            </div>
            <div class="description-oprations">
                    <span class="icon icon-play_music" @click="play()"></span>
                    <span :class="['icon' ,'icon-like' , isTrackLiked(track.track_id)?'liked':'']" @click="like($event)"></span>
            </div>
        </div>
    </div>
</template>

<script>
import {mapState , mapGetters} from 'vuex';
import {services} from '../../features/listener/service'
export default {
   props:{
       track: Object,
       isInPlaylist: Boolean,
       playlist_title: String, 
   },
   computed: {
       ...mapGetters([
           "isTrackLiked"
       ]),
       likedTrack(){
           return this.$store.getters.isTrackLiked
       }
   },
   methods:{
       play(){
           this.$emit("playClick" , this.track)           
       },
       like(e){
           let loader = this.$loading.show();
           if(this.isTrackLiked(this.track.track_id)){
               services.unlikeTrack(this.track.track_id).then((res)=>{
                    
                      this.$store.dispatch("fetchPlaylists").then(()=>{
                          this.$store.dispatch("getLikedTracks").then(()=>{
                            loader.hide()
                            this.$toast.open({
                            message: res.data.message,
                                type: 'success',
                            });
                          }).catch(()=>{
                               loader.hide()
                                this.$toast.open({
                                    message: "an error occurred during fetching liked track",
                                    type: 'error',
                                });
                          })  
                    }).catch(()=>{
                        loader.hide()
                            this.$toast.open({
                            message: "an error occurred during fetching playlist",
                                type: 'error',
                            });
                    })

               }).catch((error)=>{
                  loader.hide()
                    this.$toast.open({
                       message: "an error occurred during unlike track",
                        type: 'error',
                    });
                   
               })
           }else{               
               services.likeTrack(this.track.track_id).then((res)=>{
                    this.$store.dispatch("fetchPlaylists").then(()=>{
                          this.$store.dispatch("getLikedTracks").then(()=>{
                            loader.hide()
                            this.$toast.open({
                            message: res.data.message,
                                type: 'success',
                            });
                          }).catch(()=>{
                               loader.hide()
                                this.$toast.open({
                                    message: "an error occurred during fetching liked track",
                                    type: 'error',
                                });
                          }) 
                    }).catch(()=>{
                        loader.hide()
                            this.$toast.open({
                            message: "an error occurred during fetching playlist",
                                type: 'error',
                            });
                    })

                   
               }).catch((error)=>{
                    loader.hide()
                    this.$toast.open({
                       message: "an error occurred during like track",
                        type: 'error',
                    });
                   
               })
           }
           
       },
       handleTrack(){
           if(this.isInPlaylist){
               let data ={
                   track_id : this.track.track_id,
                   playlist_title : this.playlist_title
               }
               let loader =  this.$loading.show();
             this.$store.dispatch("deleteTrackFromPlaylist" ,data ).then(()=>{
                 this.$store.dispatch("fetchPlaylists").then(()=>{
                     loader.hide()
                 })
             }).catch((error)=>{
                 loader.hide();
             })            
           }
           else{
               this.$emit("addtoPlaylist" , this.track.track_id);
           }
           
       },
       report(){
           this.$emit("report" ,this.track.track_id)
           
       },
        toHHMMSS(num) {
        var sec_num = parseInt(num, 10); // don't forget the second param
        var hours   = Math.floor(sec_num / 3600);
        var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
        var seconds = sec_num - (hours * 3600) - (minutes * 60);

        if (hours   < 10) {hours   = "0"+hours;}
        if (minutes < 10) {minutes = "0"+minutes;}
        if (seconds < 10) {seconds = "0"+seconds;}
        return hours+':'+minutes+':'+seconds;
        }
   }
}
</script>