<template>
    <div class="navbar">
        <div class="user_info">
            {{getProfile.username}}
            <img v-if="hasProfileImage" :src="'http://127.0.0.1:3000/myapi/profileimage?user='+getProfile.username">
            <img v-else src="../../../../assets/images/listener.svg">
        </div>
        <div class="nav_links">
            <div class="nav_item">
                <router-link to="/listener/dashboard" active-class="active">Dashboard</router-link>
            </div>
            <div class="nav_item">
                <router-link to="/listener/profile"     active-class="active">Profile</router-link>
            </div>
        </div>
            <div class="nav_feature">
                <div v-if="getProfile.user_type == 'R'" class="goPremium">
                    <button class="loading-button" @click="goPro()">Go Pro</button>
                </div>
                <div class="logo">
                    <span v-if="getProfile.user_type == 'R' || getProfile.user_type == 'P'" :class="['icon' ,'icon-headphone' , getProfile.user_type == 'P' ? 'premium' : '']"></span>
                    <span v-else class="icon-artist"></span>
                </div>
              
            </div>
    </div>
</template>

<script>
import axios from 'axios'
import {mapGetters} from "vuex"
export default {
    data(){
        return{
            noProfileImage : false,
            user :null
        }
    },
    mounted() {
        console.log(this.isImageExist);
        
        
    },
    computed: {
        ...mapGetters([
            'getProfile',
            'hasProfileImage'
        ]),
    },
    methods:{
        goPro(){
            this.$emit("goPro")
        }
    }
}
</script>