<template>
    <div class="playlist-card">
        <div class="main">
            <div class="logo">
             <span class="icon icon-playlist"></span>
            </div>
            <div class="main-content">
                <span><span class="fix-text">title: </span>{{playlist.playlist_title}}</span>
            </div>
        </div>
        <div class="description">
            <div class="description-content">
               <span class="description-item"><span class="fix-text">owner: </span>{{playlist.username}}</span>
            </div>
            <div class="description-play">
                    <span class="icon icon-eye"></span>
                    <span v-if="!isUserPlaylist(playlist.playlist_id)" :class="['icon' ,'icon-like' , isPlaylistLiked(playlist.playlist_id)?'liked':'']" @click="like(playlist.playlist_id)"></span>
            </div>
        </div>
        
    </div>
</template>

<script>
import {mapGetters} from 'vuex'
import {services} from '../../features/listener/service'
export default {
   props:{
       playlist: Object
   },
   computed: {
       ...mapGetters([
           "isPlaylistLiked",
           'isUserPlaylist'
       ])
   },
   methods:{
       like(id){
           let loader = this.$loading.show();
           if(this.isPlaylistLiked(id)){
               services.unlikePlaylist(id).then((res)=>{
                   this.$store.dispatch("fetchPlaylists").then(()=>{
                       this.$store.dispatch("getLikedPlaylists").then(()=>{
                           loader.hide();
                            this.$toast.open({
                                message: res.data.message,
                                type: 'success',
                            });  
                       })
                   })
                   
               }).catch((error)=>{
                   loader.hide();
                   this.$toast.open({
                    message: error.response.data.message,
                    type: 'error',
                    // all other options may go here
                    });
               })
           }
           else{
               services.likePlaylist(id).then((res)=>{
                    this.$store.dispatch("fetchPlaylists").then(()=>{
                       this.$store.dispatch("getLikedPlaylists").then(()=>{
                           loader.hide();
                            this.$toast.open({
                                message: res.data.message,
                                type: 'success',
                            });  
                       })
                   })
                   
               }).catch((error)=>{
                    loader.hide();
                   this.$toast.open({
                    message: error.response.data.message,
                    type: 'error',
                    // all other options may go here
                    });
                   
               })
           }    
       }
   }
}
</script>