<template>
    <div class="play-area">
        <div class="track_info">
            <div class="logo">
                <span class="icon icon-music"></span>
            </div>
            <div class="content">
                <span>{{track.track_title}}</span>
                <span>{{track.artist}}</span>
                <span>{{track.album_title}}</span>
            </div>
            <div class="like">
                <span :class="['icon' ,  'icon-like' , isTrackLiked(track.track_id)? 'liked loading-button' : '']" @click="like()"></span>
            </div>
        </div>
        <div class="play-items">
               <span class="icon icon-random"></span>
               <span class="icon icon-prv_track"></span>
               <span :class="['icon'  , !track.track_id ? 'icon-play_music' : 'icon-paues_music' , track.track_id ? 'playing':'' ]" @click="playing=!playing"></span>
               <span class="icon icon-next_track"></span>
               <span class="icon icon-repeat_track"></span>
               <span class="ml-2">{{track.track_duration ? toHHMMSS(track.track_duration) : ""}}</span>
        </div>
        <div class="play-feature">
                <span class="icon icon-volume_high"></span>
                <span class="icon icon-volume_low"></span>
                <span class="icon icon-volume_mute"></span>
                <div class="vulome">
                    <div class="vulome-amount"></div>
                </div>
        </div>
    </div>
</template>
<script>
import { mapGetters } from 'vuex';
import {services} from '../../features/listener/service'
export default {
    data() {
        return {
            playing: false,
            liked: false,
        }
    },
    computed:{
        ...mapGetters([
            "isTrackLiked"
        ]),
        track(){
            return this.$store.state.listener.playingTrack
        }
    },
    mounted() {
        if(this.track.track_id){
            this.playing  = true
        }
    },
    methods:{
        like(){
            if(this.track.track_id){
                             
                let loader = this.$loading.show();
                if(this.isTrackLiked(this.track.track_id)){
                    services.unlikeTrack(this.track.track_id).then((res)=>{
                            
                            this.$store.dispatch("fetchPlaylists").then(()=>{
                                this.$store.dispatch("getLikedTracks").then(()=>{
                                    loader.hide()
                                    this.$toast.open({
                                    message: res.data.message,
                                        type: 'success',
                                    });
                                }).catch(()=>{
                                    loader.hide()
                                        this.$toast.open({
                                            message: "an error occurred during fetching liked track",
                                            type: 'error',
                                        });
                                })  
                            }).catch(()=>{
                                loader.hide()
                                    this.$toast.open({
                                    message: "an error occurred during fetching playlist",
                                        type: 'error',
                                    });
                            })

                    }).catch((error)=>{
                        loader.hide()
                            this.$toast.open({
                            message: "an error occurred during unlike track",
                                type: 'error',
                            });
                        
                    })
                }else{               
                    services.likeTrack(this.track.track_id).then((res)=>{
                            this.$store.dispatch("fetchPlaylists").then(()=>{
                                this.$store.dispatch("getLikedTracks").then(()=>{
                                    loader.hide()
                                    this.$toast.open({
                                    message: res.data.message,
                                        type: 'success',
                                    });
                                }).catch(()=>{
                                    loader.hide()
                                        this.$toast.open({
                                            message: "an error occurred during fetching liked track",
                                            type: 'error',
                                        });
                                }) 
                            }).catch(()=>{
                                loader.hide()
                                    this.$toast.open({
                                    message: "an error occurred during fetching playlist",
                                        type: 'error',
                                    });
                            })

                        
                    }).catch((error)=>{
                            loader.hide()
                            this.$toast.open({
                            message: "an error accrued during like track",
                                type: 'error',
                            });
                        
                    })
                }              
        }
        },
        toHHMMSS(num) {
        var sec_num = parseInt(num, 10); // don't forget the second param
        var hours   = Math.floor(sec_num / 3600);
        var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
        var seconds = sec_num - (hours * 3600) - (minutes * 60);

        if (hours   < 10) {hours   = "0"+hours;}
        if (minutes < 10) {minutes = "0"+minutes;}
        if (seconds < 10) {seconds = "0"+seconds;}
        return hours+':'+minutes+':'+seconds;
        }
}
   
}
</script>