<template>
	<transition name='bounce'>
		<div class="message" v-show='isShowMessage' :class="[type ? 'success' : 'error']">
			{{ message }}
			<button href="#" class="closebtn" @click="closeAlert" >&times;</button>
		</div>
	</transition>
</template>

<script>
import { mapState, mapActions } from 'vuex';
// import {APP} from '../../constant.js';
export default {
	props:{
		message:String,
		type: Boolean,
	},
	computed: {
		...mapState([
			'isShowMessage'
		])
	},
	beforeUpdate() {
		setTimeout(()=>{
			this.setIsShowingMessage(false);
		} , 5000)	
	},
	methods: {
		...mapActions([
			"setIsShowingMessage"
		]),
		closeAlert(){
			this.setIsShowingMessage(false);
		}
	},
}
</script>

<style lang="scss" scoped>
	

</style>