<template>
    <div class="user">
        <div class="main">
            <div class="logo">
             <span class="icon icon-user"></span>
            </div>
            <div class="main-content">
                <span><span class="fix-text">username: </span>{{user.username}}</span>
                <span v-if="user.artistic_name"><span class="fix-text">artistic name: </span>{{user.artistic_name}}</span>
                
            </div>
        </div>
        <div class="description">
            <div class="description-content">
               <span class="description-item"><span class="fix-text">firstname: </span>{{user.firstname}}</span>
               <span class="description-item"><span class="fix-text">lastname: </span>{{user.lastname}}</span>
               <span class="description-item"><span class="fix-text">nationality: </span>{{user.nationality}}</span> 
            </div>
            <div class="description-operation">
                <span class="icon icon-eye"></span>
                <span :class="['icon' , isUserFollowed(user.user_id) ? 'icon-user-minus' : 'icon-user-plus' ]" @click="handleFollow"></span>
            </div>
        </div>
    </div>
</template>
<script>
import {mapGetters } from 'vuex'
import {services} from '../../features/listener/service'
export default {
    props:{
        user: Object
    },
    computed: {
        ...mapGetters([
            "isUserFollowed"
        ]),
    },
    methods: {
        handleFollow(){
            if(this.isUserFollowed(this.user.user_id)){
                this.$bvModal.msgBoxConfirm(`Please confirm that you want to unfollow ${this.user.username}`, {
                title: 'Please Confirm',
                size: 'sm',
                buttonSize: 'sm',
                okVariant: 'danger',
                okTitle: 'YES',
                cancelTitle: 'NO',
                footerClass: 'p-2',
                hideHeaderClose: false,
                centered: true
                })
                .then(value => {
                    let loader = this.$loading.show();
                    if(value){
                        services.unfollow(this.user.username).then((res)=>{
                              if(res.data.status == "success"){
                                this.$store.dispatch("fetchUserProfile")
                                  loader.hide()
                                  this.$toast.open({
                                    message: res.data.message,
                                    type: 'success',
                                  })
                              }
                        }).catch((error)=>{
                            loader.hide()
                             this.$toast.open({
                                    message: "an error occurred during this action",
                                    type: 'error',
                                });
                        })
                    }
                    else{
                        loader.hide()
                    }
                    
                })
                .catch(err => {
                     this.$toast.open({
                                    message: "an error occurred during this action",
                                    type: 'error',
                                });
                })
 
            }
            else{
                let loader = this.$loading.show();
               services.follow(this.user.username).then((res)=>{
                              if(res.data.status == "success"){ 
                                loader.hide()                                 
                                this.$store.dispatch("fetchUserProfile")
                                this.$toast.open({
                                    message: res.data.message,
                                    type: 'success',
                             })
                            }
                        }).catch((error)=>{
                            loader.hide()
                             this.$toast.open({
                                    message: "an error occurred during this action",
                                    type: 'error',
                                });
                        })
            }
            
        }
    },
}
</script>