<template>
    <div class="regular-signup main-container">
         <div class="mask" v-if="loading">
            <span class="icon icon-spinner2 spinner"></span>
        </div>
            <validation-observer v-slot="{ passes  }">
                <div class="main-title">
                    Listener Sign up
                    <b-button variant="danger" class="backBtn" @click="handleBack">Back</b-button>

                </div>
                <b-form  @submit.prevent="passes(onSubmit)"  class="regular-signup-form">
                    <div class="account">
                        <div class="title">Account info</div>
                        <div class="content">
                            <div class="field">

                                <ValidationProvider rules="required" name="Username" v-slot="{ valid, errors }">
                                    <b-form-group>
                                        <b-form-input
                                                id="UsernameInput"
                                                class="login-input"
                                                type="text"
                                                v-model="username"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                placeholder="Enter Username"
                                        ></b-form-input>
                                        <b-form-invalid-feedback id="inputLiveFeedback">{{ errors[0] }}</b-form-invalid-feedback>
                                    </b-form-group>
                                </ValidationProvider>

                                <ValidationProvider rules="required|email" name="email" v-slot="{ valid, errors }">
                                    <b-form-group>
                                        <b-form-input
                                                id="emailInpit"
                                                type="text"
                                                v-model="email"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                placeholder="Enter Email"
                                        ></b-form-input>
                                        <b-form-invalid-feedback id="inputLiveFeedback">{{ errors[0] }}</b-form-invalid-feedback>
                                    </b-form-group>
                                </ValidationProvider>


                                <ValidationProvider v-slot="{ errors , valid }" vid="confirmation" rules="required|okPassword|min">
                                    <b-form-group>
                                        <b-form-input
                                                type="password"
                                                :state="errors[0] ? false : (valid ? true : null)"
                                                v-model="confirmation"
                                                placeholder="Enter Password"
                                        >
                                        </b-form-input>
                                        <b-form-invalid-feedback id="inputLiveFeedback">{{ errors[0] }}</b-form-invalid-feedback>
                                    </b-form-group>
                                </ValidationProvider>

                                    <ValidationProvider rules="confirmed:confirmation|required" v-slot="{ errors , valid }">
                                        <b-form-group>
                                            <b-form-input
                                                    type="password"
                                                    :state="errors[0] ? false : (valid ? true : null)"
                                                    v-model="password"
                                                    placeholder="Re-Enter password"
                                            >
                                            </b-form-input>
                                            <b-form-invalid-feedback id="inputLiveFeedback">{{ errors[0] }}</b-form-invalid-feedback>
                                        </b-form-group>
                                    </ValidationProvider>
                            </div>

                            <div class="pick-picture">
                                <div class="content">
                                    <label class="pic" id="pic-test">
                                         <span class="icon-plus" id="pic-icon"></span>
                                         <input type="file" style="display: none;" @change="readURL">
                                    </label>
                                    <div class="title">Pick your profile photo</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="personal">
                        <div class="title">Personal info</div>
                        <div class="content">

                            <ValidationProvider rules="required" name="firstName" v-slot="{ valid, errors }">
                                <b-form-group>
                                    <b-form-input
                                            id="firstNameInput"
                                            type="text"
                                            v-model="firstName"
                                            :state="errors[0] ? false : (valid ? true : null)"
                                            placeholder="Enter firstName"
                                    ></b-form-input>
                                    <b-form-invalid-feedback id="inputLiveFeedback">{{ errors[0] }}</b-form-invalid-feedback>
                                </b-form-group>
                            </ValidationProvider>


                            <ValidationProvider rules="required" name="lastName" v-slot="{ valid, errors }">
                                <b-form-group>
                                    <b-form-input
                                            id="lastNameInput"
                                            type="text"
                                            v-model="lastName"
                                            :state="errors[0] ? false : (valid ? true : null)"
                                            placeholder="Enter LastName"
                                    ></b-form-input>
                                    <b-form-invalid-feedback id="inputLiveFeedback">{{ errors[0] }}</b-form-invalid-feedback>
                                </b-form-group>
                            </ValidationProvider>

                            <ValidationProvider rules="required" name="country" v-slot="">
                                <country-select v-model="country" :country="country" topCountry="US" class="country-select"/>
                            </ValidationProvider>

                            <ValidationProvider>
                                <birth-datepicker v-model="date" :valueIsString="true" delimiter="-" class="bdate" placeholder="Select Birth Date" :yearFirst="true"/>
                            </ValidationProvider>

                        </div>
                        <div class="personal-qu">
                            <span class="qu-title">Please answer to this questions</span>

                            <ValidationProvider rules="required" name="Q1" v-slot="{ valid, errors }">
                                <b-form-group label="What is the name of the first school you attended?" label-for="Q1">
                                    <b-form-input
                                            id="Q1"
                                            type="text"
                                            v-model="Q1"
                                            :state="errors[0] ? false : (valid ? true : null)"
                                            placeholder="Answer here..."
                                    ></b-form-input>
                                    <b-form-invalid-feedback id="inputLiveFeedback">{{ errors[0] }}</b-form-invalid-feedback>
                                </b-form-group>
                            </ValidationProvider>



                            <ValidationProvider rules="required" name="Q2" v-slot="{ valid, errors }">
                                <b-form-group label="What is the name of your favorite childhood friend?" label-for="Q2">
                                    <b-form-input
                                            id="Q2"
                                            type="text"
                                            v-model="Q2"
                                            :state="errors[0] ? false : (valid ? true : null)"
                                            placeholder="Answer here..."
                                    ></b-form-input>
                                    <b-form-invalid-feedback id="inputLiveFeedback">{{ errors[0] }}</b-form-invalid-feedback>
                                </b-form-group>
                            </ValidationProvider>


                            <ValidationProvider rules="required" name="Q3" v-slot="{ valid, errors }">
                                <b-form-group label="What was your dream job as a child?" label-for="Q3">
                                    <b-form-input
                                            id="Q3"
                                            type="text"
                                            v-model="Q3"
                                            :state="errors[0] ? false : (valid ? true : null)"
                                            placeholder="Answer here..."
                                    ></b-form-input>
                                    <b-form-invalid-feedback id="inputLiveFeedback">{{ errors[0] }}</b-form-invalid-feedback>
                                </b-form-group>
                            </ValidationProvider>


                        </div>
                    </div>

                    <div class="submitBtn">
                        <b-button type="submit" class="submitBtn-btn">Submit</b-button>
                    </div>

                </b-form>
            </validation-observer>

<!--                <b-button variant="danger" @click="handleBack">Back</b-button>-->
<!--            </b-form>-->
<!--        </ValidationObserver>-->
    </div>
</template>

<script src="./listenerSignup.js"></script>

