<template>
   <div class="artist-dashboard">
      
      <transition name="fold" @after-enter="modalContent = true" >
         <div v-if="modalBackground" class="modal-container" >
               <div class="modal-background" >
                  <transition name="zoom"> 
                         <div v-if="modalContent" class="modal" >
                              <h1>Hi...</h1>
                              <div class="description">
                                 <p class="not-ready">Unfortunately Artist panel dosen't ready yet!  <span class="icon icon-sad"></span> </p>
                                 <p class="ready">But you can checkout Listener panel. Please sign in as Listener <span class="icon icon-happy"></span></p>
                              </div>
                              <div class="go-login-btn">
                                 <button @click="goToSignIn()">Go to Sign in</button>
                              </div>
                         </div>
                  </transition>
               </div>
         </div>
      </transition> 
   </div>
</template>

<script>
export default {
   data() {
      return {
         modalBackground : false,
         modalContent: false,
      }
   },
   mounted() {
      this.modalBackground = true;
   },
   methods: {
      goToSignIn(){
         this.$cookies.remove("token")
         this.$cookies.remove("rule")
         this.$router.push('/account/login')
      }
   },
}
</script>

<style>

</style>