<template>
    <div class="listener" style="color:white">
        <navbar  @goPro="goPro"></navbar>
        <div class="content">
            <router-view></router-view>
        </div>
        <playarea></playarea>

         <transition name="fold" @after-enter="goPremiumModalContent = true" @after-leave="goPremiumModalContent = false" >
          <div v-if="goPremiumModalBackground" class="modal-container">
                <div class="modal-background" >
                   <transition name="zoom" @after-leave="updateAccountModal = true"> 
                         <div v-if="goPremiumModalContent" class="goPremuimModal">
                            <div class="close-modal" @click="goPremiumModalBackground = false">&times;</div>
                            <div class="title">
                              Hi {{getProfile.username}}!!
                            </div>
                            <div class="content">
                                <div>You have Regular account!</div>
                                <div>Go <span class="premium-text">PREMIUM</span> for no limits! </div>
                                <div class="go-pro-btn">
                                  <button @click="goPremiumModalContent= false">GO PRO</button>
                                </div>
                            </div>
                         </div>
                   </transition>      

                   <transition name="zoom" @@after-leave="goPremiumModalBackground = false">
                        <div v-if="updateAccountModal" class="update-account-modal">
                            <div class="close-modal" @click="goPremiumModalBackground = false">&times;</div>
                            <div class="title">
                                Upgrade Account To PREMIUM
                            </div>
                            <div class="content">
                              <label >Enter your credit card info</label><br>
                  <ValidationObserver v-slot="{ handleSubmit }">
                      <label >Card number:</label>
                      <form @submit.prevent="handleSubmit(upgradeAccountSubmit)" class="premium-form">
                          <div class="creditCardNumber">

                            <ValidationProvider name="cardnumber1" rules="required|integer|positive|length:4" v-slot="{ errors }">
                                <input type="text" :class="[errors[0] ? 'errInput' : '']" v-model="cardNumber[0]" placeholder="****" maxlength="4" >
                                <span class="err">{{ errors[0] }}</span>
                            </ValidationProvider>

                        <ValidationProvider name="cardnumber2" rules="required|integer|positive|length:4" v-slot="{ errors }">
                            <input type="text" :class="[errors[0] ? 'errInput' : '']" v-model="cardNumber[1]" placeholder="****" maxlength="4">
                            <span class="err">{{ errors[0] }}</span>
                        </ValidationProvider>


                        <ValidationProvider name="cardnumber3" rules="required|integer|positive|length:4" v-slot="{ errors }">
                            <input  :class="[errors[0] ? 'errInput' : '']" type="text" v-model="cardNumber[2]"  placeholder="****"  maxlength="4">
                            <span class="err">{{ errors[0] }}</span>
                        </ValidationProvider>

                        <ValidationProvider name="cardnumber4" rules="required|integer|positive|length:4" v-slot="{ errors }">
                            <input type="text" :class="[errors[0] ? 'errInput' : '']" v-model="cardNumber[3]"  placeholder="****"  maxlength="4">
                            <span class="err">{{ errors[0] }}</span>
                        </ValidationProvider>
                    </div>
                    <label>Expiration date:</label>
                    <div class="cardExpr">
                         <ValidationProvider name="exprDare2" rules="required|integer|positive|length:2|isYear" v-slot="{ errors }" >
                            <input type="text" :class="[errors[0] ? 'errInput' : '']" v-model="cardExpr[0]"  placeholder="year" maxlength="2">
                            <span class="err">{{ errors[0] }}</span>
                        </ValidationProvider>

                        <ValidationProvider name="exprDare1" rules="required|integer|positive|length:2|isMonth" v-slot="{ errors }">
                            <input  :class="[errors[0] ? 'errInput' : '']" type="text" v-model="cardExpr[1]"  placeholder="month"  maxlength="2">
                            <span class="err">{{ errors[0] }}</span>
                        </ValidationProvider>
                       
                        <div class="month">
                          <label >month:</label>
                        
                          <ValidationProvider name="exprDare1" rules="required|integer" v-slot="{ errors }" maxlength="2">
                            <select class="form-control form-control-sm" v-model="month_count">
                            <option>1</option>
                            <option>3</option>
                            <option>6</option>
                          </select>                            
                          <span class="err">{{ errors[0] }}</span>
                        </ValidationProvider>
                        </div>
                    </div>
                    <div class="premium-submit">
                        <button type="submit" class="premium-submit-btn btn">Go Pro</button>
                    </div>

                </form>
            </ValidationObserver>

                            </div>
                        </div>
                   </transition>
                </div>
          </div>
        </transition>


    </div>
</template>
<script src="./listener.js">
</script>