.album-card{
    background-color: $darken-grey;
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
    margin: 8px 0;
    padding: 5px;
    border-radius: 15px;
    background: linear-gradient(to right , $darken-grey  , $dark);
    color :#eee;
    font-size: 13px;
    @include flex($direction:column);
    .main{
        @include flex();
        height: 40%;
        .logo{
            margin: auto 10px;
            margin-right: 20px;
            font-size: 30px;
           .icon{
               color: $green_blue;
               text-shadow: 2px 2px 8px $green-blue;
     
           }  
         }
         .main-content{
            @include flex($direction:column ,$align:center );
            margin: auto 0;
         }
    }
    .description{
        @include flex();
        margin-left: 10px;
        margin-top: 5px;
        .description-content{
            width: 70%;
            @include flex($direction:column);

        }
        .description-operation{
            width: 30%;
            @include flex($justify:center , $align:center);
            .icon{
                color: $light_grey;
                font-size: 25px;
                cursor: pointer;
                margin: 10px;
                &:hover{
                    color: $green-blue;
                }
    
                
            }
        }
    }
    .fix-text{
        color: $lighten_grey;
    }
}