.playlist-card{
    margin: 8px 0;
    padding: 5px;
    border-radius: 15px;
    background: linear-gradient(to right , $darken-grey  , $dark);
        color :#eee;
    font-size: 13px;
    @include flex($direction:column);
    .main{
        @include flex();
        height: 40%;
        
        .logo{
            margin: auto 10px;
            margin-right: 20px;
            font-size: 30px;
           .icon{
               color: $green_blue;
               text-shadow: 2px 2px 8px $green-blue;
     
           }  
         }
         .main-content{
            @include flex($direction:column);
         }
    }
    .description{
        @include flex();
        margin-left: 10px;
        margin-top: 5px;
        .description-content{
            width: 70%;
            @include flex($direction:column);

        }
        .description-play{
            @include flex($justify:center , $align:center);
            .icon{
                font-size: 25px;
                margin: 10px;
                cursor: pointer;
                color: $light_grey;

                &:hover{
                    color: $green-blue;
                }
                &.liked{
                    color: $danger;
                }
            }
        }
    }
    .fix-text{
        color: $lighten_grey;
    }
    
}