.myalert{
    direction: ltr;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    z-index: 99999;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    @include flex($direction : row , $justify :flex-end)
}
.error{
    font-size: 18px;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    opacity: 0.9;

}
.success{
    font-size: 18px;
    color: #fff;
    background-color: $green_blue;
    border-color: #079c09;
    opacity: 0.7;
}
.closebtn{
    color: white;
    background: none;
    border: none;
    margin-left: 10px;

}
.bounce-enter-active {
animation: bounce-in .5s;
}
.bounce-leave-active {
animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
0% {
transform: scale(0);
}
50% {
transform: scale(1.5);
}
100% {
transform: scale(1);
}
}