.message{
    right: 0;
    border-radius: 15px;;
    position: fixed;
    margin-right: 30px;
    margin-bottom: 20px;
    bottom: 0; 
    z-index: 9999;
    direction: ltr;
    padding: 10px 5px 10px 20px;
    @include flex($justify: space-between)

}
.error{
    font-size: 18px;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    opacity: 0.9;

}
.success{
    font-size: 18px;
    color: #fff;
    background-color: $green_blue;
    border-color: $green_blue;
    opacity: 0.9;
}
.closebtn{
    color: white;
    float : right;
    background: none;
    border: none;

}
.bounce-enter-active {
animation: bounce-in .5s;
}
.bounce-leave-active {
animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
0% {
transform: scale(0);
}
50% {
transform: scale(1.5);
}
100% {
transform: scale(1);
}
}
