.modal-container {
    position:fixed;
    height:100%;
    width:100%;
    top:0;
    left:0;
    @include flex();
    z-index:1;   
    .modal-background {
      width: 100%;
      background: rgba(0, 0, 0, 0.4);
      text-align:center;
      vertical-align:middle;
       @include flex($justify:center) ;

      .modal {
        color: $light-grey;  

  
        position: relative;
        background-color: $darken-grey;
        direction: ltr;
        margin: auto ;
        padding:50px;
        display:inline-block;
        border-radius:3px;
        .close-modal{
          position: absolute;
          font-size: 40px;
          cursor: pointer;
          left: 25px;
          top: 20px;
        }
        .content-modal{
        
      }
    }
}
}