.navbar{
    color: $lighten_grey;
    background: linear-gradient(to right,$dark_grey , $dark_grey , $green_blue );
    background-color: $dark_grey;
    height: 60px;
    @include flex($direction:row-reverse);
    .user_info{
        @include breakpoint(medium){
            display: none;
        }
        border-right: 1px solid $light_grey;
        padding-right: 10px;
        min-width: 200px;
        img{
            width: 45px;
            height: 45px;
            border-radius: 50%;
            margin-right: 10px;

        }
    }
    .nav_links{
        color: $lighten_grey;
        @include flex($direction:row-reverse , $align:center);
        padding-left: 20px;
        .nav_item{
            margin-right: 20px;
            a{
                padding: 10px;
                border-radius: 10px;
                text-decoration: none;
                color: $lighten_grey;
                &:hover{
                    color:white
                }
                &.active{
                    // color: $green_blue;
                    background-color: #252525;
                }
            }
        }
        
    }
    .nav_feature{
        width: 100%;
        
        @include flex($direction:row-reverse, $justify:flex-end);
        .logo{
            font-size: 30px;
            color: #eee;
            .premium{
                color:$premium-yellow;
            }
        }
        .goPremium{
            @include flex($justify:center);
            margin-right: 20px;
            button{
                border: none;
                width: 100px;
                border-radius: 50px;
                border: 1px solid $design-color2;
                background: linear-gradient(to right , $design-color2, $design-color1);
                box-shadow: -1px -4px 24px -1px rgba(255,255,255,1);

            }
            .loading-button{ animation: bouncing 0.5s cubic-bezier(0.1,0.25,0.1,1) 0s infinite alternate both;}


        }   
    }
    
}

@keyframes bouncing{
    0%  { bottom: 0; box-shadow: 0 0 5px rgba(0,0,0,0.5);}
    100%{ bottom: 50px; box-shadow: 0 50px 50px rgba(0,0,0,0.1);}
  }