.play-area{
    height: 100px;
    background-color: $dark-grey;
    padding-left: 85px;
    @include flex($direction:row-reverse);
    .track_info{
        @include breakpoint(small){
            display: none;
        }
        width: 20%;
        @include flex($direction:row-reverse);
        .logo{
            margin: auto 0; 
            font-size: 30px;
            color: $green-blue;
        }
        .content{
            @include flex($direction:column , $justify:center);
            margin-left: 10px;
            font-size: 13px;
            color: $lighten-grey;
        }
        .like{
            margin: auto 0;
            padding-left: 15px;
            font-size: 25px;
            cursor: pointer;
            .liked{
                color: red;
                text-shadow: 2px 2px 8px red;
            }
        }
        .report-img{
            width: 35px;
            height: 35px;
            cursor: pointer;
            margin: auto 10px;
        }
    }
    .play-items{
        width: 55%;
        @include flex($direction:row-reverse,$justify:center , $align:center);
    }
    .play-feature{
        @include breakpoint(small){
            display: none;
        }
        margin-right: 10px;
        width: 25%;
        @include flex($direction:row-reverse,$justify:flex-end , $align:center);
        .vulome{
            width: 100px;
            height: 20px;
            background-color: $dark;
            @include flex($direction:row-reverse);
            border-radius: 2px;
            .vulome-amount{
                border-radius: 2px;
                width: 50%;
                background: linear-gradient($design-color2 , $design-color1);
                height: 100%;
            }
        }
    }
    .play-items , .play-feature{
        
        .icon{
            font-size: 25px;
            margin: 0 5px;
            &:hover{
                color: $green-blue;
                cursor: pointer;
            }
        }
        .icon-repeat_track{
            font-size: 20px;
        }
        .icon-play_music , .icon-paues_music{
            font-size: 50px;
        }
        .playing{
            color:$green-blue;
            text-shadow: 2px 2px 8px $green-blue;

        }
        
    }
   
}
