.track{
    margin: 8px 0;
    padding: 5px;
    border-radius: 15px;
    // background-color: $darken-grey;
    background: linear-gradient(to right , $darken-grey  , $dark);

    color :#eee;
    font-size: 13px;
    @include flex($direction:column);
    .main{
        @include flex();
        height: 40%;
        
        .logo{
            margin: auto 10px;
            margin-right: 20px;
            font-size: 30px;
           .icon{
               color: $green_blue;
               text-shadow: 2px 2px 8px $green-blue;
     
           }  
         }
         .main-content{
            @include flex($justify:space-between);
            width: 100%;
            .info{  
                @include flex($direction:column);
                margin: auto 0;
            }
            .dropdown-toggle{
                padding: 0 !important;
            }
            .dropdown-menu{
                background-color: $dark;
                .dropdown-item:hover{
                    // color:;
                    background-color: $dark;
                    color: #eee;
                }
            }
            .icon{
                font-size: 20px;
                margin-right: 5px;
                margin-top: 5px;
                color: $light_grey;
                cursor: pointer;
                &.icon-remove-from-playlist:hover{
                    color: $danger;
                }
                &.icon-add-to-playlist:hover{
                    color: $green-blue;
                }
            }
         }
    }
    .description{
        @include flex();
        margin-left: 10px;
        margin-top: 5px;
        .description-content{
            width: 70%;
            @include flex($direction:column);

        }
        .description-oprations{
            @include flex($justify:center , $align:center);
            .icon{
                font-size: 25px;
                margin: 10px;
                cursor: pointer;
                color: $light_grey;

                &:hover{
                    color: $green-blue;
                }
                &.liked{
                    color: $danger;
                }
            }
            .report-img{
                width: 30px;
                height: 30px;
                cursor: pointer;
            }

        }
    }
    .fix-text{
        color: $lighten_grey;
    }
    
}