
@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?jxuyr3');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?jxuyr3#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?jxuyr3') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?jxuyr3') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?jxuyr3##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.icon-music{
  &:before{
    content: $icon-msuic;
  }
 }
.icon-spinner2{
  &:before{
    content: $icon-spinner2;
  }
}
.icon-spinner3{
  &:before{
    content: $icon-spinner3;
  }
}
.icon-spinner4{
  &:before{
    content: $icon-spinner4;
  }
}
.icon-spinner5{
  &:before{
    content: $icon-spinner5;
  }
}
.icon-spinner6{
  &:before{
    content: $icon-spinner6;
  }
}
.icon-spinner7{
  &:before{
    content: $icon-spinner7;
  }
}

.icon-plus:before {
  content: "\ea0a";
}
.icon-playlist:before {
  content: "\e904";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-logout:before {
  content: "\e9b6";
}
.icon-search:before {
  content: "\e905";
}
.icon-headphone:before {
  content: "\e910";
}
.icon-artist:before {
  content: "\e902";
}
.icon-random:before {
  content: "\ea30";
}
.icon-next_track:before {
  content: "\ea24";
}
.icon-prv_track:before {
  content: "\ea23";
}
.icon-play_music:before {
  content: "\ea1c";
}
.icon-paues_music:before {
  content: "\ea1d";
}
.icon-repeat_track:before {
  content: "\ea2d";
}
.icon-like:before {
  content: "\e9da";
}
.icon-volume_high:before {
  content: "\ea26";
}
.icon-volume_low:before {
  content: "\ea28";
}
.icon-volume_mute:before {
  content: "\ea29";
}
.icon-edit:before {
  content: "\e906";
}
.icon-delete:before {
  content: "\e9ac";
}
.icon-user:before {
  content: "\e971";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-user-minus:before {
  content: "\e974";
}
.icon-album:before {
  content: "\e901";
}
.icon-add-to-playlist:before {
  content: "\e931";
}

.icon-remove-from-playlist:before {
  content: "\e932";
}
.icon-more:before {
  content: "\e907";
}
.icon-share:before{
  content: "\ea82";
}
.icon-sad:before{
  content: "\e9e5";
}
.icon-happy:before{
  content: "\e9df";
}









@keyframes anim-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner {
  display: inline-block;
  font-size:3em;
  height: 1em;
  line-height: 1;
  margin: .5em;
  animation: anim-rotate 2s infinite linear;
  color: $green_blue;
  text-shadow: 0 0 .25em rgba(255,255,255, .3);
}
.spinner--steps {
  animation: anim-rotate 1s infinite steps(8);
}
.spinner--steps2 {
  animation: anim-rotate 1s infinite steps(12);
}

