body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: $darken-grey;
  height: 100vh;
}
#app{
  height: 100%;
}
.main-container{
  padding: 0 300px;
  @include breakpoint(1250px){
    padding: 0 150px;
  }
  @include breakpoint(medium){
    padding:10px;
  }
}
.mask{
  width: 100%;
  height: 100%;
  background-color: black;
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  opacity: 0.5;
  @include flex($justify:center , $align: center);
}
.test{
  width: 100px;
  height: 100px;
  background-color: firebrick;
}

.modal-content{
  direction: ltr;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  // background: #f1f1f1; 
  background: $darken-grey;
  
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:$green-blue;
  border-radius: 10px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $green-blue; 
}
.toast-text{
  direction: ltr;
}