@mixin flex($direction:row , $wrap:nowrap , $justify:flex-start , $align: stretch ){
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
  align-content: stretch;
}

@mixin box-shadow($color : white){
  -webkit-box-shadow: 0px 0px 49px -28px $color;
  -moz-box-shadow: 0px 0px 49px -28px $color;
  box-shadow: 0px 0px 49px -28px $color;
}