
// i{ vertical-align: middle; }

// button:focus, button:active, button:hover, input:focus, span:focus, input:focus{ outline: 0; }
// ul{ list-style: none; padding: 0; }
// a, a:hover, a:focus{ text-decoration: none; outline: none; }
// label{ font-weight: normal; }
// img{ width: 100%; }
// textarea{ resize: none; }

.modal-content{
  background-color: $dark-grey;
  color: $lighten-grey;

  .modal-header{
     border-bottom-color: $lighten-grey;
    .close {
      color: $light-grey;
      &:hover{
        color: $lighten-grey;
      }
    }
  }
  .modal-body{
    .premium-title{
      color: $premium-yellow;
    }
    .premium-form{
      .creditCardNumber{
          @include flex;
          margin-bottom: 10px;
          input{
            width: 100%;
            }
         }
         .cardExpr{
           @include flex($justify:center);
           span{
             @include flex($direction:column);
           }
         }
        .creditCardNumber , .cardExpr{
          input{
            background-color: $dark-grey;
            border: 1px solid $lighten-grey;
            color: $lighten-grey;
          }
           span:first-child{
              input{
                border-radius: 4px 0 0 4px;
              }
           }
          span{
            input.noBorderRaduis{
              border-radius: 0;
            }
            .err{
              color: red;
              font-size: 10px;
            }
            .errInput{
              border: 1px solid red;
            }
          }
          span:last-child{
            input{
              border-radius: 0 4px 4px 0;
            }
          }
        }
      .premium-submit{
        margin-top: 20px;
        @include flex($justify:center);
        .premium-submit-btn{
              background: none;
              color: white;
              background-color: $premium-yellow;
              &:hover{
                color: $premium-yellow;
                border: 1px solid $premium-yellow;
                background-color: inherit;
              }
        }
      }
    }
    .btn-outline-type1{
      color: $green-blue;
      border: 1px solid $green-blue;
      &:hover{
        color: white;
        background-color: $green-blue;
      }
    }
    .btn-outline-type2{
      color:$premium-yellow;
      border: 1px solid $premium-yellow;
      &:hover{
        color: white;
        background-color: $premium-yellow;
      }
    }

  }
}

.form-control{
   background-color: $dark-grey;
  color: white;
}
.btn-primary{
  background-color: $green-blue !important;
  border-color: $green-blue !important;
  &:hover{
    background-color: $green-blue !important;
  }
  
}