// General Variables
// like: $black: #000;
$white : #ffffff;
$light-grey : #636363;
$lighten-grey : #909497;
$dark-grey: #363636;
$darken-grey: #252525;
$dark: #111111;
$green-blue1 : #48fdf2;
$green-blue2 : #94f7d5;
$green-blue3 : #76D7C4;
$premium-yellow:#F1C40F;
$light-gray-blue :#BED0CB;
$A-Light-in-the-Dark-1-hex: #192E40;
$A-Light-in-the-Dark-2-hex: #324E59;
$A-Light-in-the-Dark-3-hex: #0A5951;
$A-Light-in-the-Dark-4-hex: #037353;
$green-blue: #0BBF7D;

$Flashmain-1-hex: #484759;
$Flashmain-2-hex: #2F7360;
$Flashmain-3-hex: #05F29B;
$Flashmain-4-hex: #04BF7B;
$Flashmain-5-hex: #038C5A;

$design-color1: #48fdf2;
$design-color2: #94f7b5;
$danger:#dc3545;

// PartFontIcon Variables
$icomoon-font-family: "PedramFonticon" !default;
$icomoon-font-path: "../fonts/fonticon" !default;

$icon-msuic: "\e911";
$icon-spinner: "\e982";
$icon-spinner2: "\e97b";
$icon-spinner3: "\e97c";
$icon-spinner4: "\e97d";
$icon-spinner5: "\e97f";
$icon-spinner6: "\e982";
$icon-spinner7: "\e984";