<template>
    <div class="login">
        <div class="login-content">
            <div class="login-header">
                Welcome
            </div>
            <div class="content">
                <div class="login-form">
                    <span class="icon icon-music"></span>
                    <span class="name">Sign in</span>
                    <ValidationObserver ref="observer" v-slot="{ passes }">
                        <b-form @submit.prevent="passes(onSubmit)" class="form">
                            <ValidationProvider rules="required" name="Username" v-slot="{ valid, errors }">
                                <b-form-group>
                                    <b-form-input
                                            id="UsernameInput"
                                            class="login-input"
                                            type="text"
                                            v-model="username"
                                            :state="errors[0] ? false : (valid ? true : null)"
                                            placeholder="Enter Username"
                                    ></b-form-input>
                                    <b-form-invalid-feedback id="inputLiveFeedback">{{ errors[0] }}</b-form-invalid-feedback>
                                </b-form-group>
                            </ValidationProvider>

                            <ValidationProvider
                                    rules="required"
                                    name="Password"
                                    vid="password"
                                    v-slot="{ valid, errors }"
                            >
                                <b-form-group>
                                    <b-form-input
                                            type="password"
                                            class="login-input"
                                            v-model="password"
                                            :state="errors[0] ? false : (valid ? true : null)"
                                            placeholder="Enter password"
                                    ></b-form-input>
                                    <b-form-invalid-feedback id="inputLiveFeedback">{{ errors[0] }}</b-form-invalid-feedback>
                                </b-form-group>
                            </ValidationProvider>

                            <b-button type="submit" variant="primary" class="login-btn" >Sign in</b-button>
                            <div class="signup">
                                <span>Do not have an account? </span>
                                <u class="link"  @click="handleSignup">Signup</u>
                            </div>
                             <div class="forget-pass">
                                <span>Forget your Password? </span>
                                <u class="link"  @click="handleRecoverPassword">Forget</u>
                            </div>
                        </b-form>
                    </ValidationObserver>
                </div>
            </div>
        </div>

        <transition name="fold" @after-enter="quModal = true" >
            <div v-if="showModal" class="modal-container" >
                <div class="modal-background" >

                    <transition name="zoom" @after-leave="changePassModal = true"> 
                         <div v-if="quModal" class="modal question-modal" >
                                <div class="close-modal" @click="quModal = false">
                                    &times;
                                </div>
                                <div class="content-modal forget-pass-modal-content">
                                    <h1>Forget Your Password?</h1>
                                    <h2>Please Answer To this Questions:</h2>

                                    

                                <ValidationObserver  ref="observer" v-slot="{ passes }">
                                    <b-form @submit.prevent="passes(handleAnswers)" class="form">

                                         <ValidationProvider rules="required|email" name="Email" v-slot="{ valid, errors }" class="left">
                                            <b-form-group label="What is Email that you user for signup? " label-for="Email">
                                                <b-form-input
                                                        id="Email"
                                                        type="text"
                                                        v-model="QuEmail"
                                                        :state="errors[0] ? false : (valid ? true : null)"
                                                        placeholder="Answer here..."
                                                ></b-form-input>
                                                <b-form-invalid-feedback id="inputLiveFeedback">{{ errors[0] }}</b-form-invalid-feedback>
                                            </b-form-group>
                                         </ValidationProvider>

                                   <ValidationProvider rules="required" name="Q1" v-slot="{ valid, errors }" class="left">
                                        <b-form-group label="What is the name of the first school you attended?" label-for="Q1">
                                            <b-form-input
                                                    id="Q1"
                                                    type="text"
                                                    v-model="Q1"
                                                    :state="errors[0] ? false : (valid ? true : null)"
                                                    placeholder="Answer here..."
                                            ></b-form-input>
                                            <b-form-invalid-feedback id="inputLiveFeedback">{{ errors[0] }}</b-form-invalid-feedback>
                                        </b-form-group>
                                   </ValidationProvider>



                            <ValidationProvider rules="required" name="Q2" v-slot="{ valid, errors }" class="left">
                                <b-form-group label="What is the name of your favorite childhood friend?" label-for="Q2">
                                    <b-form-input
                                            id="Q2"
                                            type="text"
                                            v-model="Q2"
                                            :state="errors[0] ? false : (valid ? true : null)"
                                            placeholder="Answer here..."
                                    ></b-form-input>
                                    <b-form-invalid-feedback id="inputLiveFeedback">{{ errors[0] }}</b-form-invalid-feedback>
                                </b-form-group>
                            </ValidationProvider>


                            <ValidationProvider rules="required" name="Q3" v-slot="{ valid, errors }" class="left">
                                <b-form-group label="What was your dream job as a child?" label-for="Q3">
                                    <b-form-input
                                            id="Q3"
                                            type="text"
                                            v-model="Q3"
                                            :state="errors[0] ? false : (valid ? true : null)"
                                            placeholder="Answer here..."
                                    ></b-form-input>
                                    <b-form-invalid-feedback id="inputLiveFeedback">{{ errors[0] }}</b-form-invalid-feedback>
                                </b-form-group>
                            </ValidationProvider>

                                    <button type="submit" variant="primary" class="answer-btn" >Submit</button>
                                    </b-form>
                         </ValidationObserver>
                                 </div>
                        </div>
                    </transition> 

                     <transition name="zoom" @after-leave='showModal = false' >
                         <div v-if="changePassModal && true" class="modal change-pass-modal .left">
                              <div class="close-modal" @click="changePassModal = false ;  ">
                                    &times;
                                </div>
                            
                            <h2>Enter New Password</h2>

                            <ValidationObserver  ref="observer" v-slot="{ passes , valid }">
                                    <b-form @submit.prevent="passes(handleNewPassword)" class="form">        
                                            <ValidationProvider v-slot="{ errors }" vid="confirmation" name='new password' rules="required|okPassword|min" class="left">
                                                <b-form-group label='Enter New Password' label-for="newPass1">
                                                    <b-form-input
                                                            id="newpass1"
                                                            type="password"
                                                            :state="errors[0] ? false : (valid ? true : null)"
                                                            v-model="confirmation"
                                                            placeholder="Enter Password"
                                                    >
                                                    </b-form-input>
                                                    <b-form-invalid-feedback id="inputLiveFeedback">{{ errors[0] }}</b-form-invalid-feedback>
                                                </b-form-group>
                                            </ValidationProvider>

                                                <ValidationProvider rules="confirmed:confirmation|required" name='Re-enter-password' v-slot="{ errors , valid }" class="left">
                                                    <b-form-group label='Re-enter New Password' label-for='newpass2'>
                                                        <b-form-input
                                                                id='newpass2'
                                                                type="password"
                                                                :state="errors[0] ? false : (valid ? true : null)"
                                                                v-model="newPassword"
                                                                placeholder="Re-Enter password"
                                                        >
                                                        </b-form-input>
                                                        <b-form-invalid-feedback id="inputLiveFeedback">{{ errors[0] }}</b-form-invalid-feedback>
                                                    </b-form-group>
                                                </ValidationProvider>
                                                <button type="submit" variant="primary" class="answer-btn new-pass-btn" >Submit</button>

                                    </b-form>
                            </ValidationObserver>          


                         </div>
                    </transition>   
                
                </div>
            </div>
        </transition>

        <b-modal ref="login-modal" hide-footer class="myModal">
            <div class="d-block text-center">
                <h3>Sign in as...</h3>
            </div>
            <b-button class="mt-3" variant="outline-type1" block @click="handleLoginAsListener">As Listener</b-button>
            <b-button class="mt-2" variant="outline-type1" block @click="handleLoginAsArtist">As Artist</b-button>
        </b-modal>

        <b-modal ref="signup-modal" hide-footer class="myModal">
            <div class="d-block text-center">
                <h3>Sign up as...</h3>
            </div>
            <b-button class="mt-3" variant="outline-type1" block @click="handleSignupAsListener">As Listener</b-button>
            <b-button class="mt-2" variant="outline-type1" block @click="handleSignupAsArtist">As Artist</b-button>
        </b-modal>
        

    </div>
</template>

<script src="./login.js"></script>
