.artist-dashboard{
    
    .modal{
        color: $lighten_grey !important;
        width: 50%;
        height: fit-content;
        text-align: left;
        @include breakpoint(medium){
            width: 80%;
        }
        h1{
            font-weight: bold;
        }
        .description{
            margin-top: 10px;
            font-size: 20px;
            vertical-align: middle;
            .icon{
                font-size: 25px;
                margin-left: 5px;
            }
        }
        .not-ready{
            color: rgba(221, 80, 80, 0.933);
        }
        .ready{
            color:$green_blue;
        }
        .go-login-btn{
            text-align: center;
            button{
                color: #eee;
                padding: 10px;
                background-color: $green_blue;
                border: 1px solid $green_blue;
                border-radius: 15px;
                &:hover{
                    background-color: inherit;
                    color: $green_blue;
                }
            }
        }
    }
}

.fold-enter-active {
    animation: unfoldIn 0.5s;
  }
  .fold-leave-active {
    animation: unfoldIn 0.5s reverse;
  }
  .zoom-enter-active {
    animation: zoomIn 0.5s ;
  }
  .zoom-leave-active {
    animation: zoomIn 0.5s reverse;
  }