.listener_dashboard{
    direction: ltr;
    overflow: hidden;
    height: 100%;
    @include flex();
    .tabs{
        width: 100%;
        // height: 100%;
        // background-color: red;
        .col-auto{
            // background-color: ;
            background-color:#363636;
            padding-right: 0;

        }
        .tab-content{
          padding: 0;
        }
        ul{
            border-top: 1px solid $light_grey;
            border-bottom: none;
        }
       .nav-item{
           width: 70px;
           height: 50px;
           @include flex($justify:center);
           
       }
       .nav-link{
           border: none;
           border-radius: 0px !important;

           width: 100%;
           @include flex($justify:center , $align:center);
       }
       a {
            border-radius: 0;
           color:$light_grey;
           &:hover{
            color: #eee;
        }
       }
       .myActive{
           background-color: $dark_grey;
           border-radius: 0;

           background: -webkit-linear-gradient($green_blue, $dark_grey);
           span{
            color: #eee;
                }
           border-radius: 5px;;
       }
       .tab-pane{
           width: 100%;
           height: 100%;
           .playlists{
                width: 100%;
                height: 100%;
                @include flex();
                overflow: auto;
                .add{
                  width: 50px;
                  height: 40px;
                  border-radius: 0 50% 50% 0;
                  padding: 10px;
                  background-color: $dark-grey;
                  margin-top: 10px;
                  .icon{
                    font-size: 20px;
                    color:$light-grey;
                    cursor: pointer;
                    &:hover{
                      color:$green-blue
                    }
                  }
                }
                .playlist{
                    margin: 10px;
                    min-width: 350px;
                    height: fit-content;
                    max-height: 700px;
                    @include flex($direction: column);
                    border-radius: 15px;
                    background-color: $dark-grey;
                    color: #eee;
                    .header{
                        height: 50px;
                        padding: 0 10px;
                        border-bottom: 1px solid $light-grey;
                        @include flex($justify:space-between,$align:center);
                        .title{
                        }
                        .operations{
                            @include flex();
                            .edit , .delete , .share{
                             margin: 10px;
                             color: $light_grey;
                             span{
                                 cursor: pointer;
                             }
                            }
                            .edit:hover , .share:hover{
                                color: $green-blue;
                            }
                            .delete:hover{
                                color: red;
                            }
                        }
                    }
                    .content{
                        overflow: auto;
                        padding: 10px;
                        // height: 100%;
                        @include flex($direction: column);
                        .noTracks{
                            color: $light_grey;
                        }
                    }
                    .fix-text{
                        color: $lighten_grey;
                    }
                }
           }
           .trends{
            width: 100%;
            height: 100%;
            @include flex();
            overflow: auto;
            margin: 25px;
            .trend{
              margin: 10px;
              min-width: 350px;
              min-height: 600px;
              max-height: 600px;
            
              @include flex($direction: column);
              border-radius: 15px;
              background-color: $dark-grey;
              color: #eee;
              .header{
                height: 50px !important;
                padding: 0 10px;
                border-bottom: 1px solid $light-grey;
                @include flex($justify:center,$align:center);

              }
              .content{
                overflow: auto;
                padding: 10px;
                // height: 100%;
                @include flex($direction: column);
              }
            }
           }
           .search{
             width: 100%;
             height: 100%;
             padding: 20px;
             .content{
               width: 100%;
               height: 100%;
               @include flex($direction:column);
               .search-input{
                @include flex($justify:center);
                .inputs{
                  @include flex;
                  .form-control{
                    width: 500px;
                    @include breakpoint(medium){
                      width: 300px;
                    }
                    border: none;
                    border-radius: 0 15px 15px 0;
                    color: $lighten_grey  ;
                    background: linear-gradient(to right , $dark-grey , $darken-grey);
                  }
                  .logo{
                    background-color: $dark-grey;
                    border-radius: 50% 0 0 50%;
                    border: none;
                    color: $light_grey;
                  }
                }
               }
               .search-items{
                 margin-top: 20px;
                 @include flex;
                 @include breakpoint(medium){
                   @include flex($direction:column , $justify:center , $align:center)
                 }
                 overflow: auto;
                 max-height: 700px;
                 .search-item{
                   overflow: auto;
                   background-color: $dark-grey;
                   border-radius: 15px;
                   width: 25%;
                   @include breakpoint(medium){
                    width: 80%;
                  }
                   margin: 10px;
                   padding: 10px 5px;
                   .header{
                     @include flex($justify:center);
                     height: 30px;
                     border-bottom: 1px solid $light_grey;
                   }
                   .serach-item-content{
                     .item{
                      @include flex($direction:column);
        
                      background-color: $darken-grey;
                      margin: 5px;
                      padding: 5px;
                      border-radius: 15px;
                     }
                   }
                 }
               }
             }
           }
       }
    }


}
.test{
    background-color: red;
}
 
.fold-enter-active {
    animation: unfoldIn 0.7s;
  }
  .fold-leave-active {
    animation: unfoldIn 0.7s reverse;
  }
  .zoom-enter-active {
    animation: zoomIn 0.7s ;
  }
  .zoom-leave-active {
    animation: zoomIn 0.7s reverse;
  }