.listener{
    height: 100%;
    @include flex($direction:column);
    .content{
        height: 100%;
    }
    .modal-container{
        direction: ltr;
        .modal-background{
            @include flex($justify:center, $align:center);
            .goPremuimModal{
             width: 50%;
             // height: 50%;
             border-radius: 15px;
             padding: 30px;
             color: $lighten_grey;
             background: linear-gradient($dark-grey , $dark);
             box-shadow: 0px -2px 10px 2px $premium-yellow;
             @include breakpoint(medium){
                 width: 80%;
                 height: 60%;
             }
             .title{
                 font-size: 35px;
                 font-weight: bold;
             }
             .content{
                 font-size: 25px;
                 div{
                     margin: 10px;
                 }
                 .premium-text{
                     color: $premium-yellow;
                     font-weight: bold;
                 }
                 .go-pro-btn{
                     @include flex($justify:center, $align:center);
                     margin-top: 50px;
                     button{
                         width: 200px;
                         height: 60px;
                         border: 2px solid $premium-yellow;
                         color: #eee;
                         font-weight: bold;
                         background-color: $premium-yellow;
                         border-radius: 50px;
                         // border: 1px solid $design-color2;
                         // background: linear-gradient(to right , $design-color2, $design-color1);
                         box-shadow: -1px -4px 24px -1px $premium-yellow;
                         &:hover{
                             background-color: inherit;
                             color: $premium-yellow;
                         }
                     }
                 }
             }
         }
         .update-account-modal{
             width: 50%;
             border-radius: 15px;
             padding: 30px;
             color: $lighten_grey;
             background: linear-gradient($dark-grey , $dark);
             box-shadow: 0px -2px 10px 2px $premium-yellow;
             @include breakpoint(medium){
                 width: 98%;
                 padding: 5px;
             }
             .title{
                 font-size: 30px;
                 color: $premium-yellow;
             }
             .content{
                 @include flex($direction:column,$justify:center, $align:center);
                 .premium-form{
                     .creditCardNumber{
                         @include flex;
                         margin-bottom: 10px;
                         input{
                           width: 100%;
                           }
                        }
                        .cardExpr{
                          @include flex($justify:center);
                          span{
                            @include flex($direction:column);
                          }
                        }
                       .creditCardNumber , .cardExpr{
                         input{
                           background-color: $dark-grey;
                           border: 1px solid $lighten-grey;
                           color: $lighten-grey;
                         }
                          span:first-child{
                             input{
                               border-radius: 4px 0 0 4px;
                             }
                          }
                         span{
                           input.noBorderRaduis{
                             border-radius: 0;
                           }
                           .err{
                             color: red;
                             font-size: 10px;
                           }
                           .errInput{
                             border: 1px solid red;
                           }
                         }
                         span:last-child{
                           input{
                             border-radius: 0 4px 4px 0;
                           }
                         }
                       }
                     .month{
                         margin-left: 20px;
                         @include flex();
                         label{
                             margin-right: 5px;
                         }
                     }  
                     .premium-submit{
                       margin-top: 20px;
                       @include flex($justify:center);
                       .premium-submit-btn{
                             background: none;
                             color: white;
                             background-color: $premium-yellow;
                             &:hover{
                               color: $premium-yellow;
                               border: 1px solid $premium-yellow;
                               background-color: inherit;
                             }
                       }
                     }
                   }
               
             }
         }
         .close-modal{
             position: absolute;
             width: 50px;
             font-size: 30px;
             cursor: pointer;
         }
        }
    }
}