.profile{
    direction: ltr;
    overflow: hidden;
    height: 100%;
    @include flex();
    .tabs{
        width: 100%;
        // height: 100%;
        // background-color: red;
        .col-auto{
            // background-color: ;
            background-color:#363636;
            padding-right: 0;

        }
        ul{
            border-top: 1px solid $light_grey;
            border-bottom: none;
        }
       .nav-item{
          
           height: 50px;
           @include flex($justify:center);
       }
       .nav-link{
           border: none;
           border-radius: 0 !important;
           width: 100%;
           color: $lighten_grey;
       }
       a {
           color:$light_grey;
           &:hover{
               color: #eee;
           }
       }
       .myActive{
        //    background-color: $dark_grey;
           background: -webkit-linear-gradient($green_blue, $dark_grey);

           color: #eee;
           border-radius: 5px;;
       }
       .tab-pane{
             width: 100%;
             height: 100%;
             overflow: auto;
            .profile-tab{
                width: 100%;
                height: 100%;
                overflow: auto;
                padding: 50px;
                @include flex();
                .img{
                    margin-right: 50px;               
                    img{
                        width: 200px;
                        height: 200px;
                        border-radius: 10px;
                        @include breakpoint(medium){
                            width: 150px;
                            height: 150px;
                        }
                    }
                }
                .info{
                    color: $lighten_grey;
                    padding: 20px;
                    padding-bottom: 40px;

                    width: 100%;
                    height: fit-content;
                    background: linear-gradient(to right, $dark_grey , $darken_grey);
                    border-radius: 15px;
                }
              
            }
            .friends-tab{
                padding-top: 20px;
                margin: 10px;
                min-width: 350px;
                min-height: 700px;
                max-height: 700px;
                @include flex($justify:center);
                @include breakpoint(medium){
                    @include flex($direction:column);
                }
                border-radius: 15px;
                color: #eee;
                .following , .followers{    
                    overflow: auto;
                    background-color: $dark-grey;
                    border-radius: 15px;
                    width: 40%;
                    @include breakpoint(medium){
                        width: 100%;
                    }
                    margin: 10px;
                    padding: 10px 5px;
                    @include flex($direction:column);
                    .header{
                        color: $light_grey;
                        min-height: 50px;
                        border-bottom: 1px solid $lighten_grey;
                        @include flex($justify:center , $align:center);
                    }
                    .body{
                        padding: 5px;
                        @include flex($direction:column);
                    }
                    .user{
                        .description-operation{
                            width: 100%;
                            margin-right: 20px;
                            @include flex($direction:row-reverse);
                            @include breakpoint(medium){
                                width: unset            ;
                            }
                        }
                    }
                }   
            }
       }
    }
}
.fix-text{
    color: $light_grey;
}